@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,500;1,300 & display=swap');
body{
    box-sizing: border-box;
    margin: O;
    padding: 0;
}
.logo{
    text-align: center;
}
.location{
    text-align: center;
    font-size: 20px;
    color: #353535;
}